.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
width: 100%;
/* padding-right: 15px; */
/* padding-left: 15px; */
margin-right: auto;
margin-left: auto;
}
 .main{
   margin-top: 40px;
   background: #1E88E5 0% 0% no-repeat padding-box;
   opacity: 1;
   /* background: red; */
   padding-bottom: 50px;
   width:100%;

 }



 .first{
   margin-bottom: 10px;
 }

 .flex-bottom{

   height: 100%;
   width:100%;
   /* display: flex; */

   background: #1E88E5 0% 0% no-repeat padding-box;
   opacity: 1;
   margin-top: 10px;
   flex:1;



 }

 .flex-bottom-2{
  flex:1;
 }

 .flex-bottom p{
   font-size: 18px;


   /* color:white !important; */
   padding-left: 10px;
   font-family: 'opensans';

   text-align: left;
   letter-spacing: 0px;
   color: #FFFFFF;
   opacity: 1;


 }

 @media(max-width:590px){
   .flex-bottom p{
     text-align: left;
     font-size:14px;


   }
 }

 .flex-bottom h3{
   margin-bottom: 20px;

   padding-left: 10px;
   font-family: 'opensans',lighter;

   text-align: left;
   font-size:36px;
   letter-spacing: 0px;
   color: #FFFFFF;
   opacity: 1;

 }

 @media(max-width:590px){
   .flex-bottom h3{
     text-align: center;
     font-size:24px;

   }
 }

 #w-100{
   background: rgb(30,136,229);
   border:0;
   border-radius: 10px;
   margin-bottom: 20px;
   padding-left: 10px;
   padding-right: 10px;
   box-shadow: 0px 4px 16px 9px rgba(0,0,0,0.2);
   margin-top: 10px;
   padding-bottom: 40px;
   width:100%;
   display: flex;


 }

 @media(max-width:590px){
   #w-100{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   }
 }

 #w-100 img{
   widht:35px;
   height:28px;
   border-radius:50%;

 }

 @media(max-width:590px){
   #w-100 img{
     width: 35px;
     height: 48px;
     order:1;
     margin-bottom: 10px;

   }
 }

 /* a{
   color:white !important;
   font-size: 14px;


 } */



 td{
   padding-bottom: 8px;
   padding-left: 6px;

 }

 @media(max-width:590px){
   td{
     /* display: flex; */
     display: block;
    margin-left: 30px;

   }

 }

 #table td a{
   text-decoration: none;
   font-size: 16px;
   font-family:'opensans';
   font-weight: lighter;
   letter-spacing: 1px;

   text-align: left;
   letter-spacing: 0px;
   color: #FFFFFF;
   opacity: 1;
 }

 @media(max-width:590px){
   #table td a{
     text-align: left;
     font-size:14px;
   }

 }




 #care-h3,#gain-h3{


   font-family: 'opensans';
   font-weight: lighter;


   text-align: left;
   font-size:36px;
   letter-spacing: 0px;
   color: #FFFFFF;
   opacity: 1;

 }

 @media(max-width:590px){
   #care-h3,#gain-h3{
     font-size:24px;
     text-align: center;
     order: 2;
     font-weight: 100;
   }

   #care-h3,#gain-h3,#w-100 img{
     margin:10px 10px;
   }
 }

 .h3-row{
   margin-top: 8px;
   padding-top: 8px;
   padding-bottom: 4px;
   padding-left: 6px;
 }


#care-h3::after{
  content: "";
  background: transparent url('images/shield.png')  no-repeat padding-box;
  width:25px;
  height: 20px;
  position: absolute;
  display: inline-block;
  background-size: cover;
}
 #span::after{
   color:white !important;
   content:'\27F6';
   margin-left: 4px;
   font-size: 14px;

 }

 @media(max-width:590px){
   #span::after{
     margin-left: 10px;
   }
 }
