
  /* .modal-btn{
    font-size:14px !important;
    letter-spacing: 2.2px !important;

  }


  #start-data h3{

    font-size:38px !important;
    letter-spacing: 3.6px !important;

  }



  #start-data h4{

    font-size:22px !important;
    letter-spacing: 2.4px !important;
    text-transform: uppercase !important;

  } */
